<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klfront.baseui" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<application>
    <receiver android:name=".broadcastreceiver.NetBroadcastReceiver" >
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>
    </receiver>
</application>
</manifest>
